<div class="container">
  {{#if adventure}}

  <section class="showAdventure">

    <h3>Aventura: #{{adventure.id}}</h3>

    <ul class="detalles">
      <li> <img src="/img/{{adventure.showPic}}" alt="bosque" width="100"> </li>
      <li>Nombre: {{adventure.name}}</li>
      <li>Descripción: {{{adventure.description}}}</li>
    </ul>

  </section>

  <div class="containerSessions">
    {{#if message}}
    <p class="message-{{message.class}}"> {{message.text}}</p>
    {{/if}}


    <form class="newSessionForm" action="/auth/newGameSession" method="post">
      <input type="text" name="adventureId" id="adventureId" value="{{adventure.id}}" hidden>

      <section class="sessionPlayers">
        <label for="user">Jugadores</label>
        <input type="text" name="users" id="users01" value="{{user.username}}" readonly>
        <input type="text" name="users" id="users02">
        <input type="text" name="users" id="users03">
      </section>

      <section class="sessionPass">
        <label for="pass">Contraseña</label>
        <input type="password" name="pass" id="pass">
        <label for="confirmPass">Repetir Contraseña</label>
        <input type="password" name="confirmPass" id="confirmPass">
      </section>

      <button id="login-btn" type="submit">Crear Sala</button>

    </form>

    {{!-- Listado de sessiones de juego --}}
    {{#if session}}

    {{#each session}}

    <div class="gameSession">

      <h3>Sala de {{this.creator}} </h3>

      <ul class="playersList">
        <li>jugadores:</li>
        {{#each users}}
        <li>{{this.name}}</li>
        {{/each}}
      </ul>

      <form class="startGame" action="/auth/startGame" method="post">

        <input type="text" name="gameoid" id="gameoid" value="{{this.oid}}" hidden>
        <input type="text" name="gameId" id="gameId" value="{{this.gameId}}" hidden>

        <section>
          <label for="pass">Contraseña</label>
          <input type="password" name="sessionPass" id="sessionPass">
        </section>

        <button class="startButton" id="startButton" type="submit">COMENZAR</button>

      </form>

    </div>

    {{/each}}

    {{else}}

    <h2>No hay salas creadas</h2>

    {{/if}}
  </div>

  {{else}}

  <h2>Oops.. no se encontró la aventura.</h2>

  <a href="/adventure/home">Volver a Home</a>

  {{/if}}

</div>